.container {
	height: 60px;
	position: fixed;
	bottom: 0;
	z-index: 10;
	background-color: #6246ea;
}
@media (min-width: 724px) {
	.container {
		top: 0;
	}
}

.text {
	text-align: center;
	font-weight: bold;
}

.icon {
	color: #f6f6f8;
	width: 35px;
	height: 35px;
}

@media (min-width: 724px) {
	.icon {
		display: none;
	}
}
.col {
	display: flex;
	justify-content: center;
}

.anchor {
	margin: 0 auto;
	display: none;
	text-align: center;
	color: transparent;
}

@media (min-width: 724px) {
	.anchor {
		display: block;
		text-align: center;
		font-weight: bold;
		color: #fffffe;
		font-size: 1.5rem;
		min-width: none;
		text-transform: uppercase;
	}
}
