.card {
	margin-bottom: 1rem;
}

.icon_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 1rem;
	justify-items: center;
	margin: 10px auto;
}

.icon {
	align-self: center;
}

.container {
	margin-bottom: 60px;
	height: 100%;
	padding-top: 10px;
}

@media (min-width: 724px) {
	.container {
		margin-bottom: 0;
		margin-top: 60px;
	}
}
