.container {
	margin-bottom: 60px;
	max-width: 650px;
}

@media (min-width: 724px) {
	.container {
		margin-bottom: 0;
		margin-top: 60px;
	}
}

.paragraph {
	font-size: 18px;
	margin-bottom: 7px;
}

@media (min-width: 724px) {
	.paragraph {
		font-size: 20px;
	}
}

.wife,
.octopus {
	font-size: 18px;
}

.wife {
	background-color: rgba(236, 133, 188, 0.425);
	padding: 10px;
	border-radius: 12px;
}
.octopus {
	background-color: rgba(133, 236, 205, 0.425);
	padding: 10px;
	border-radius: 12px;
}

.wife span,
.octopus span {
	font-size: 30px;
}

.person {
	padding: 4px;
	border-radius: 12px;
	background-color: rgba(169, 94, 240, 0.507);
	font-weight: bold;
}

.nestor {
	padding: 4px;
	border-radius: 12px;
	background-color: rgba(48, 211, 26, 0.432);
	font-weight: bold;
}
.laura {
	padding: 4px;
	border-radius: 12px;
	background-color: #ac6ed3c5;
	font-weight: bold;
}
.abigail {
	padding: 4px;
	border-radius: 12px;
	background-color: rgba(250, 99, 250, 0.507);
	font-weight: bold;
}
