.info {
	position: absolute;
	width: 75px;
	height: 75px;

	right: 0%;
	top: 28%;
	background-color: transparent;
}
@media (min-width: 400px) {
	.info {
		right: 20%;
		top: 20%;
	}
}
@media (min-width: 650px) {
	.info {
		right: 23%;
		top: 22%;
	}
}
.icon {
	width: 50px;
	height: 50px;
	color: #6246ea;
}

.octopus {
	text-align: center;
	cursor: pointer;
}
